<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{/styles/texelStyle.css}">
</head>

<div th:replace="fragments :: topmenu"></div>

<body>

<div class = "break">

    <div style="width: 32px; position: absolute; top: 36px;" id="strumenti">

        <button id="creaGestore" class = "tools breakBar" onclick="creaDivGestoreEntità()">
            <img src="https://i.postimg.cc/nz23gNTt/ent.png">
        </button>

        <button id="creaImmagini" class = "tools breakBar" onclick="creaDivImmaginiEntità()">
            <img src="https://i.postimg.cc/HkGsVN4m/img-1.png">
        </button>

    </div>

    <div class="divBreak" id="info"></div>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src = "@{/js/GMP/GCR/GCR.js}"></script>
<script th:src = "@{/js/GEN/GIM/GIM.js}"></script>
<script th:src = "@{/js/GEN/GEN/GEN.js}"></script>

</html>