<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/texelStyle.css">
    <link rel="stylesheet" href="/styles/topmenu.css">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
</head>

<div class="topmenu" id="topmenu">

    <a href="/"><img src="https://i.postimg.cc/wv5tLwGS/logo.png" style="animation: fade-card 1s" class="logo" id="logo"></a>

    <ul style="animation: fade-card 1s">

        <li><a href="mappa">Mappa</a></li>
        <li><a href="entita">Entità</a></li>
        <li><a href="gestoreEventi">Eventi</a></li>
        <li><a href="gestorePixelArt">Pixel Art</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="login">Sign-up & Log-in</a></li>

    </ul>

    <script src="/js/topmenu.js"></script>

</div>

<body>

<div style="position: absolute; left: 28%; top: 12%; background-color: #1A1A1A;border-radius: 2%; width: 650px; height: 600px;">

    <div>

        <h1 style="margin-top: 18.5px; font-size: 18px; position: relative; text-align: center;">PAGINA DI ERRORE</h1>

    </div>

    <div style="font-size: 18px; position: relative; top: 35%; text-align: center;">

            Qualcosa non è andato come previsto. <br>
            Ci scusiamo per l'inconveniente. <br>
            Prova a tornare alla home. <br>
            Contattaci se il problema persiste.

    </div>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</html>