<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="topmenu" class="topmenu" id="topmenu">

  <link rel="stylesheet" th:href="@{/styles/topmenu.css}">
  <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>

  <a href="/"><img src="https://i.postimg.cc/wv5tLwGS/logo.png" class="logo" id="logo"></a>

  <ul>

    <li><a href="griglia">Mappa</a></li>
    <li><a href="entità">Entità</a></li>
    <li><a href="eventi">Eventi</a></li>
    <li><a href="gestorePixelArt">Pixel Art</a></li>
    <li><a href="#">Help</a></li>
    <li th:if="${session.email == null}"><a href="auth">Sign-up & Log-in</a></li>
    <li th:if="${session.email != null}"><a href="auth">Log-out</a></li>
  </ul>

</div>

</html>