<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="topmenu" class="topmenu" id="topmenu">

  <link rel="stylesheet" th:href="@{/styles/topmenu.css}">
  <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>

  <a href="/"><img src="https://i.postimg.cc/wv5tLwGS/logo.png" class="logo" id="logo"></a>

  <ul>

    <li><a href="mappa">Mappa</a></li>
    <li th:if="${session.email == null}"><a href="/">Sign-up & Log-in</a></li>
    <li th:if="${session.email != null}"><a href="/">Log-out</a></li>

  </ul>

  <script th:src="@{/js/topmenu.js}"></script>

</div>

</html>