body {

    background-color: #3F3F3F;
    color: #B7B7B7;
    margin: 0;
    font-family: "JetBrains Mono ExtraBold";
    font-size: 13px;

}

label{

    font-family: "JetBrains Mono";
    margin-bottom: 4px;

}

.entityDiv {

    width: 352px;
    height: 150px;
    display: grid;
    background-color: #1A1A1A;
    grid-template-columns: repeat(5, 64px);
    grid-gap: 8px;

}

.break{

    background-color: #1A1A1A;
    width: 448px;
    height: 150%;
    position: absolute;
    right: 0;
    top: 32px;

}

.home h1{

    background-color: #262727;
    color: transparent;
    background-image: linear-gradient(#B7B7B7, #B7B7B7);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -700px 0;

}

.home h1.show{

    animation: showColor 1s linear;
    animation-fill-mode: forwards;

}

.divBreak{

    background-color: #333333;
    width: 416px;
    height: 100%;
    position: absolute;
    right: 0;
    align-items: center;

}

.inputForm{

    display: block;
    background-color: #1A1A1A;
    text-align: center;
    color: #B7B7B7;
    width: 352px;
    height: 20px;
    border: none;
    border-radius: 2%;

}

.bottone{

    display: block;
    background-color: #333333;
    text-align: center;
    border: none;
    color: #B7B7B7;
    text-decoration: none;
    width: 352px;
    height: 24px;

}

.bottone:hover{

    background-color: #516f96;

}

.iconTitle{

    width: 16px;
    height: 16px;
    margin: 4px 4px 4px 8px;

}

.titleBar label{

    margin-top: 4px;
    margin-left: 4px;
    position: relative;

}

.titleBar{

    background-color: #3F3F3F;
    width: inherit;
    height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    block-size: fit-content;

}

.pressed{

    filter: invert(40%) sepia(42%) saturate(423%) hue-rotate(174deg) brightness(94%) contrast(94%);


}

.breakBar{

    left: 8px;
    display: block;

}

.tools{

    cursor: pointer;
    width: fit-content;
    margin-block: 18px;
    height: fit-content;
    background-color: transparent;
    border: none;
    appearance: none;

}

.breakDivAction{

    background-color: #3F3F3F;
    width: 400px;
    position: relative;
    right: 0;
    margin: 32px 8px 8px;
    border-radius: 2%;
    height: auto;
    display: grid;
    /*justify-content: center;*/
    align-items: start;
    block-size: fit-content;
    padding-left: 14px;
    box-sizing: border-box;
}

.topActionDiv{

    margin: 24px 8px 16px 8px;
    display: grid;
    justify-content: normal;
    align-items: center;

}

.actionDiv{

    margin: 8px 8px 16px 8px;
    display: grid;
    align-items: center;

}

.home{

    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;

}

.esplora{

    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("https://i.postimg.cc/cHyvGKJS/peakpx-1.jpg");
    background-position: center;
    background-size: cover;

}

.tilemap{

    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("https://i.postimg.cc/6pZVBqSc/peakpx-3.jpg");
    background-position: center;
    background-size: cover;

}

.manager{

    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("https://i.postimg.cc/XvdmdqV8/peakpx-4.jpg");
    background-position: center;
    background-size: cover;

}

.creator{

    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("https://i.postimg.cc/hP6RKmCy/peakpx-6.jpg");
    background-position: center;
    background-size: cover;

}

.entity{

    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("https://i.postimg.cc/LhK66s3D/wallpaperflare-com-wallpaper.jpg");
    background-position: center;
    background-size: cover;

}

.manager img.show:nth-child(1){

    animation: fade-up 1s;

}

.manager img.show:nth-child(2){

    animation: fade-up 2s;

}

.manager img.show:nth-child(3){

    animation: fade-up 2.5s;

}

.demoEvent{

    background-color: #262727;
    height: 300px;
    width: 600px;
    margin: 4%;
    border-radius: 1%;
    display: grid;

}

.demoEvent.show{

    animation: fade-down 1s;

}

.demoEventDiv.show{

    animation: fade-down 1.2s;

}

.demoShow{

    background-color: #1A1A1A;
    grid-column: 2;
    width: 400px;
    height: 390px;
    margin-top:14.7%;
    border-radius: 2%;

}

.demoShow.show{

    animation: fade-down 1.6s;

}

.row{

    display: flex;
    height: 100vh;
    align-items: center;
    scroll-snap-align: start;

}

.col{

    flex-basis: 35%;
    animation: fade-up 0.5s;
    margin-left: 5%;

}

.col p{

    font-size: 22px;

}

.col a{

    color: #B7B7B7;
    text-decoration: none;

}

.card{

    font-size: 15px;
    width: 700px;
    height: 150px;
    display: block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 30px;
    background-color: #26272780;

}

.notShow{

    opacity: 0;

}

.col.show{

    transition: transform 5ms;
    animation: fade-down 0.5s;

}

.card:hover{

    transform: translateY(-10px);

}

.card.show{

    opacity: 1;
    animation: fade-card 1s;

}

h5{

    text-shadow: 0 0 5px #999;

}

@keyframes fade-down {

    0%{

        opacity: 0;
        transform: translateY(-30px) scale(0.9);

    }

    100%{

        opacity: 1;
        transform: translateY(0px) scale(1);

    }

}

@keyframes fade-up {

    0%{

        opacity: 0;
        transform: translateY(30px) scale(0.9);

    }

    100%{

        opacity: 1;
        transform: translateY(0px) scale(1);

    }

}

@keyframes fade-card {

    0%{

        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;

    }

    100%{

        filter: blur(0);
        transform: translateX(0);

    }

}

@keyframes showColor {

    100%{

        background-position: 0 0;

    }

}

#show1 {
    display: flex;
    flex-wrap: wrap;
}

.imageContainer {
    margin: 4px;
    cursor: pointer;
}

.popStyle{

    width: 2px;
    height: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square{

    width: 32px;
    height: 32px;
    background-color: #3F3F3F;
    border: solid 1px #B7B7B7;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.squareColor{

    border: none;
    height: 64px;
    width: 64px;
    margin-left: 30%;
    margin-top: 4px;

}

.squareColor.selected{

    border: solid 1px #516f96;

}

.squarePixelArt{

    width: 32px;
    height: 32px;
    background-color: #3F3F3F;;
    border: solid 0.5px #B7B7B7;;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.squareTools{

    width: 32px;
    height: 32px;
    box-sizing: content-box;
    display: unset;
    justify-content: center;
    align-items: center;

}

.cellaTile{

    max-width: 32px;
    border: 0px;

}

div#devtools{

    margin-left: 20px;

}

.cella{

    border: 0px;
    max-width: 32px;

}

.cella:hover {

    filter: brightness(1.5);

}

div.coordinate {

    display: unset;
    top: 15%;
    left: 0%;
    position: fixed;
    font-size: 20px;

}

.colori{

    display: grid;
    grid-template-columns: repeat(3 , 32px);
    padding: 0px;
    width: fit-content;
    block-size: fit-content;

}

#ordinata{

    display: flex;
    margin-left: 8px;

}

#ascissa{

    display: flex;
    margin-left: 8px;

}